<mat-toolbar  color="primary" style="background: #2b3134;">
  <mat-toolbar-row>
    
    <div fxLayout="row" fxLayoutAlign="center center"> 
      <span style="font-family: 'Open Sans';font-size: 24px;color:white">my</span>
      <span style="font-family: 'Open Sans';font-size: 24px;color:#f96302">Cart</span>
    </div>
    <span class="example-spacer"></span>
    <!-- <mat-icon style="font-size:35px;" (click)="sidenav()" fxHide.gt-sm class="example-icon">menu</mat-icon>
    
     <mat-icon (click)="logout()" style="font-size:35px;" class="material-icons">exit_to_app</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>